In [15]:
import pandas as pd
import numpy as np
import openpyxl


change = pd.read_excel("C:/import/통합문서1.xlsx", sheet_name = "Sheet2")
lookup = pd.read_excel("C:/import/통합문서1.xlsx", sheet_name = "Sheet1")

In [17]:
for i in range(len(change)):
    for k in range(len(lookup)):
        if change["INGRED_NAME"][i] == lookup["기존이름"][k] :
            change["INGRED_NAME"][i] = lookup["새이름"][k]
            
change

change.to_excel("result")

  INGRED_NAME
0          BB
1          CC
2          DD
3          EE
4           F
5          GG
6          AA
7           I
8          BB
9         ccc